<header class="header">
    <a href="/accueil" class="header_logo">Journal</a>

    <nav class="header_nav">
        <ul>
            <li>
                <a href="/accueil" class="<%= isActiveRoute("/accueil", currentRoute) %>">Accueil</a>
            </li>
            <li>
                <a href="/about" class="<%= isActiveRoute("/about", currentRoute) %>">À propos</a>
            </li>
            <li>
                <a href="/contact" class="<%= isActiveRoute("/contact", currentRoute) %>">Contact</a>
            </li>
        </ul>

    </nav>

    <div class="header_button">
        <button class="searchBtn" aria-expanded="false">
            Rechercher
        </button>
    </div>
</header>

<nav class="sub-nav">
    <ul>
        <li><a href="/developpement" class="<%= isActiveRoute("/developpement", currentRoute) %>">Développement</a></li>
        <li><a href="/musculation" class="<%= isActiveRoute("/musculation", currentRoute) %>">Musculation</a></li>
        <li><a href="/nutrition" class="<%= isActiveRoute("/nutrition", currentRoute) %>">Nutrition</a></li>
        <li><a href="/philosophie" class="<%= isActiveRoute("/philosophie", currentRoute) %>">Philosophie</a></li>
        <li><a href="/litterature" class="<%= isActiveRoute("/litterature", currentRoute) %>">Littérature</a></li>
    </ul>
</nav>